<!--
/*
         M""""""""`M            dP                     
         Mmmmmm   .M            88                     
         MMMMP  .MMM  dP    dP  88  .dP   .d8888b.     
         MMP  .MMMMM  88    88  88888"    88'  `88     
         M' .MMMMMMM  88.  .88  88  `8b.  88.  .88     
         M         M  `88888P'  dP   `YP  `88888P'     
         MMMMMMMMMMM  [    -*- Magebay.com -*-   ]      
                                                       
         * * * * * * * * * * * * * * * * * * * * *     
         * -    - -    M.A.G.E.B.A.Y    - -    - *     
         * -  Copyright © 2010 - 2016 Magebay  - *     
         *    -  -  All Rights Reserved  -  -    *     
         * * * * * * * * * * * * * * * * * * * * *     
                                                     
*//**
 *   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   *
 * @PROJECT    : X - Project [ Z-Dev ]
 * @AUTHOR     : Zuko - Magebay Developer
 * @COPYRIGHT  : © 2016 Magebay - Magento Ext Provider
 * @LINK       : https://www.magebay.com/
 * @FILE       : checker.html
 * @CREATED    : 06:52 , 20/Nov/2016
 * @DETAIL     :
 *   *  *  *  *  *  *  *  *  *  *  *  *  *  *  *  *   *
**/-->
<div layout-align-gt-md="row" class="doc-demo-content doc-content">
  <div ui-view=""></div>
</div>